{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
sudo pacman -S v2ray --needed
sudo cp ~/scripts/v2ray_config.json /etc/v2ray/config.json
sudo systemctl start v2ray
{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh
{{ end -}}
