{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
sudo pacman -Syu
sudo pacman -S base-devel --needed
sudo pacman -S yay --needed
sudo pacman -S vim --needed
sudo pacman -S neovim --needed

sudo pacman -S emacs --needed
sudo pacman -S ripgrep --needed
sudo pacman -S fd --needed
sudo pacman -S proxychains-ng --needed

sudo pacman -S cmake --needed

# need by cht.sh shell
sudo pacman -S rlwrap --needed
sudo pacman -S xsel --needed

# rime
sudo pacman -S fcitx5-im --needed
sudo pacman -S fcitx5-chinese-addons --needed

# font
sudo pacman -S wqy-zenhei --needed
sudo pacman -S wqy-microhei --needed

sudo pacman -S rsync --needed

{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh
brew install ripgrep
{{ end -}}
