{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
sudo pacman -Syu
sudo pacman -S yay --needed
sudo pacman -S vim --needed
sudo pacman -S emacs ripgrep --needed
sudo pacman -S fd --needed
sudo pacman -S proxychains-ng --needed
{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh
brew install ripgrep
{{ end -}}
